h3.withsave{overflow:hidden;}
option{padding:1px 0px 0px 5px;}
option + option{border-top:1px dotted #cccccc;}
.error, .linesincomplete{color:#D8000C;background-color: #FFBABA;}
.errorwrapper{padding:10px;overflow:hidden;}
.erroritem{font-size:11px;float:left;margin-right:15px;}
.rostercomplete,.linescomplete{color: #4F8A10;background-color: #DFF2BF;}
.confirm{color: #4F8A10;background-color: #DFF2BF;font-size:1.2vw;}
.instructions{clear: left;background: #ffedde;color: #524133;margin: 0 0 20px 0;padding: 10px;border: 2px solid #ebcdb6;border-radius: 5px;}
.positionlist{border-bottom:1px solid #999999;background-color:#cccccc;color:#333;padding:3px;font-size:0.9vw;margin-bottom:3px;}
.positionlist label{margin-right:1.0vw;}
.Save{border:1px solid #cccccc;border-width:1px 0px;padding:5px;text-align:center;background-color:#f3f3f1;}
.Save input{font-size:1.0vw;padding:0.5vw 1.2vw;letter-spacing: 0.1vw;width:15%;box-shadow:1px 1px 1px #888;}
.Save input + input{margin-left:0.5vw;}
.ui-tabs{position:static;}
