@media screen and (min-width: 992px) {
    .STHSPHPTeamHeader_TeamNameColor_0.STHSPHPTeamHeader_TeamName{color: #000000;}
    .STHSPHPTeamHeader_TeamNameColor_1.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_2.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_3.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_4.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_5.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_6.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_7.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_8.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_9.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_10.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_11.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_12.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_13.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_14.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_15.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_16.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_17.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_18.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_19.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_20.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_21.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_22.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_23.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_24.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_25.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_26.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_27.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_28.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_29.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_30.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_32.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
    .STHSPHPTeamHeader_TeamNameColor_33.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
	.STHSPHPTeamHeader_TeamNameColor_34.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
	.STHSPHPTeamHeader_TeamNameColor_242.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
	.STHSPHPTeamHeader_TeamNameColor_243.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
	.STHSPHPTeamHeader_TeamNameColor_244.STHSPHPTeamHeader_TeamName{color: #ffffff;text-shadow: 0px 0px 0px #041E42;padding-top:10px;}
	.STHSPHPTeamHeader_TeamNameColor_0{color: #000000;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_1{color: #000000;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_1{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_2{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_3{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_4{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_5{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_6{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_7{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_8{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_9{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_10{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_11{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_12{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_13{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_14{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_15{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_16{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_17{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_18{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_19{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_20{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_21{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_22{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_23{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_24{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_25{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_26{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_27{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_28{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_29{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_30{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_32{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_33{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_34{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_242{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_243{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
	.STHSPHPTeamHeader_TeamNameColor_244{color: #ffffff;text-shadow: 0px 0px 0px #041E42;}
    .STHSPHPTeamBanner_1{background-image: url("images/banner_1.png") !important;height: 120px;}
    .STHSPHPTeamBanner_2{background-image: url("images/banner_2.png") !important;height: 120px;}
    .STHSPHPTeamBanner_3{background-image: url("images/banner_3.png") !important;height: 120px;}
    .STHSPHPTeamBanner_4{background-image: url("images/banner_4.png") !important;height: 120px;}
    .STHSPHPTeamBanner_5{background-image: url("images/banner_5.png") !important;height: 120px;}
    .STHSPHPTeamBanner_6{background-image: url("images/banner_6.png") !important;height: 120px;}
    .STHSPHPTeamBanner_7{background-image: url("images/banner_7.png") !important;height: 120px;}
    .STHSPHPTeamBanner_8{background-image: url("images/banner_8.png") !important;height: 120px;}
    .STHSPHPTeamBanner_9{background-image: url("images/banner_9.png") !important;height: 120px;}
    .STHSPHPTeamBanner_10{background-image: url("images/banner_10.png") !important;height: 120px;}
    .STHSPHPTeamBanner_11{background-image: url("images/banner_11.png") !important;height: 120px;}
    .STHSPHPTeamBanner_12{background-image: url("images/banner_12.png") !important;height: 120px;}
    .STHSPHPTeamBanner_13{background-image: url("images/banner_13.png") !important;height: 120px;}
    .STHSPHPTeamBanner_14{background-image: url("images/banner_14.png") !important;height: 120px;}
    .STHSPHPTeamBanner_15{background-image: url("images/banner_15.png") !important;height: 120px;}
    .STHSPHPTeamBanner_16{background-image: url("images/banner_16.png") !important;height: 120px;}
    .STHSPHPTeamBanner_17{background-image: url("images/banner_17.png") !important;height: 120px;}
    .STHSPHPTeamBanner_18{background-image: url("images/banner_18.png") !important;height: 120px;}
    .STHSPHPTeamBanner_19{background-image: url("images/banner_19.png") !important;height: 120px;}
    .STHSPHPTeamBanner_20{background-image: url("images/banner_20.png") !important;height: 120px;}
    .STHSPHPTeamBanner_21{background-image: url("images/banner_21.png") !important;height: 120px;}
    .STHSPHPTeamBanner_22{background-image: url("images/banner_22.png") !important;height: 120px;}
    .STHSPHPTeamBanner_23{background-image: url("images/banner_23.png") !important;height: 120px;}
    .STHSPHPTeamBanner_24{background-image: url("images/banner_24.png") !important;height: 120px;}
    .STHSPHPTeamBanner_25{background-image: url("images/banner_25.png") !important;height: 120px;}
    .STHSPHPTeamBanner_26{background-image: url("images/banner_26.png") !important;height: 120px;}
    .STHSPHPTeamBanner_27{background-image: url("images/banner_27.png") !important;height: 120px;}
    .STHSPHPTeamBanner_28{background-image: url("images/banner_28.png") !important;height: 120px;}
    .STHSPHPTeamBanner_29{background-image: url("images/banner_29.png") !important;height: 120px;}
    .STHSPHPTeamBanner_30{background-image: url("images/banner_30.png") !important;height: 120px;}
    .STHSPHPTeamBanner_32{background-image: url("images/banner_32.png") !important;height: 120px;}
    .STHSPHPTeamBanner_33{background-image: url("images/banner_33.png") !important;height: 120px;}
	.STHSPHPTeamBanner_34{background-image: url("images/banner_34.png") !important;height: 120px;}
	.STHSPHPTeamBanner_242{background-image: url("images/banner_242.png") !important;height: 120px;}
	.STHSPHPTeamBanner_242{background-image: url("images/banner_243.png") !important;height: 120px;}
	.STHSPHPTeamBanner_242{background-image: url("images/banner_244.png") !important;height: 120px;}
	.STHSPHPTeamHeader_Table{height: 120px;}
}