:root {
--TeamNameColor_Background_1: #000000;
--TeamNameColor_TextColor_1: #FFFFFF;
--TeamNameColor_SecondBackgroud_1: #FCB514;
--TeamNameColor_Background_2: #00529b;
--TeamNameColor_TextColor_2: #FFFFFF;
--TeamNameColor_SecondBackgroud_2: #F47920;
--TeamNameColor_Background_3: #0038a8;
--TeamNameColor_TextColor_3: #FFFFFF;
--TeamNameColor_SecondBackgroud_3: #CE1126;
--TeamNameColor_Background_4: #ce1126;
--TeamNameColor_TextColor_4: #FFFFFF;
--TeamNameColor_SecondBackgroud_4: #111;
--TeamNameColor_Background_5: #f74902;
--TeamNameColor_TextColor_5: #FFFFFF;
--TeamNameColor_SecondBackgroud_5: #000;
--TeamNameColor_Background_6: #CE1126;
--TeamNameColor_TextColor_6: #FFFFFF;
--TeamNameColor_SecondBackgroud_6: #111;
--TeamNameColor_Background_7: #002868;
--TeamNameColor_TextColor_7: #FFFFFF;
--TeamNameColor_SecondBackgroud_7: #002868;
--TeamNameColor_Background_8: #041e42;
--TeamNameColor_TextColor_8: #FFFFFF;
--TeamNameColor_SecondBackgroud_8: #AC162C;
--TeamNameColor_Background_9: #041e42;
--TeamNameColor_TextColor_9: #FFFFFF;
--TeamNameColor_SecondBackgroud_9: #CF0A2C;
--TeamNameColor_Background_10: #041e42;
--TeamNameColor_TextColor_10: #FFFFFF;
--TeamNameColor_SecondBackgroud_10: #C8102E;
--TeamNameColor_Background_11: #111111;
--TeamNameColor_TextColor_11: #FFFFFF;
--TeamNameColor_SecondBackgroud_11: #FCB514;
--TeamNameColor_Background_12: #DA1A32;
--TeamNameColor_TextColor_12: #FFFFFF;
--TeamNameColor_SecondBackgroud_12: #B79257;
--TeamNameColor_Background_13: #c51230;
--TeamNameColor_TextColor_13: #FFFFFF;
--TeamNameColor_SecondBackgroud_13: #192168;
--TeamNameColor_Background_14: #003087;
--TeamNameColor_TextColor_14: #FFFFFF;
--TeamNameColor_SecondBackgroud_14: #FFB81C;
--TeamNameColor_Background_15: #00205b;
--TeamNameColor_TextColor_15: #FFFFFF;
--TeamNameColor_SecondBackgroud_15: #00205b;
--TeamNameColor_Background_16: #002f87;
--TeamNameColor_TextColor_16: #FFFFFF;
--TeamNameColor_SecondBackgroud_16: #FCB514;
--TeamNameColor_Background_17: #CE1126;
--TeamNameColor_TextColor_17: #FFFFFF;
--TeamNameColor_SecondBackgroud_17: #CE1126;
--TeamNameColor_Background_18: #cf0a2c;
--TeamNameColor_TextColor_18: #FFFFFF;
--TeamNameColor_SecondBackgroud_18: #111;
--TeamNameColor_Background_19: #002654;
--TeamNameColor_TextColor_19: #FFFFFF;
--TeamNameColor_SecondBackgroud_19: #CE1126;
--TeamNameColor_Background_20: #FFB81C;
--TeamNameColor_TextColor_20: #FFFFFF;
--TeamNameColor_SecondBackgroud_20: #041e42;
--TeamNameColor_Background_21: #154734;
--TeamNameColor_TextColor_21: #DDCBA4; 
--TeamNameColor_SecondBackgroud_21: #A6192E;
--TeamNameColor_Background_22: #041e41;
--TeamNameColor_TextColor_22: #FFFFFF;
--TeamNameColor_SecondBackgroud_22: #FF4C00;
--TeamNameColor_Background_23: #D2001C;
--TeamNameColor_TextColor_23: #FFFFFF;
--TeamNameColor_SecondBackgroud_23: #FAAF19;
--TeamNameColor_Background_24: #00205B;
--TeamNameColor_TextColor_24: #FFFFFF;
--TeamNameColor_SecondBackgroud_24: #00843d;
--TeamNameColor_Background_25: #6f263d;
--TeamNameColor_TextColor_25: #FFFFFF;
--TeamNameColor_SecondBackgroud_25: #236192;
--TeamNameColor_Background_26: #111111;
--TeamNameColor_TextColor_26: #FFFFFF;
--TeamNameColor_SecondBackgroud_26: #a2aaad;
--TeamNameColor_Background_27: #8c2633;
--TeamNameColor_TextColor_27: #111111;
--TeamNameColor_SecondBackgroud_27: #E2D6B5;
--TeamNameColor_Background_28: #006847;
--TeamNameColor_TextColor_28: #FFFFFF;
--TeamNameColor_SecondBackgroud_28: #8F8F8C;
--TeamNameColor_Background_29: #F47A38;
--TeamNameColor_TextColor_29: #FFFFFF;
--TeamNameColor_SecondBackgroud_29: #000000;
--TeamNameColor_Background_30: #006d75;
--TeamNameColor_TextColor_30: #FFFFFF;
--TeamNameColor_SecondBackgroud_30: #EA7200;
--TeamNameColor_Background_32: #b4975a;
--TeamNameColor_TextColor_32: #FFFFFF;
--TeamNameColor_SecondBackgroud_32: #333F42;
--TeamNameColor_Background_33: #001628;
--TeamNameColor_TextColor_33: #99d9d9;
--TeamNameColor_SecondBackgroud_33: #e9072b;
--TeamNameColor_Background_34: #71AFE5;
--TeamNameColor_TextColor_34: #FFFFFF;
--TeamNameColor_SecondBackgroud_34: #090909;
--TeamNameColor_Background_101: #FEC23D;
--TeamNameColor_TextColor_101: #FFFFFF;
--TeamNameColor_SecondBackgroud_101: #000000;
--TeamNameColor_Background_102: #00468B;
--TeamNameColor_TextColor_102: #FFFFFF;
--TeamNameColor_SecondBackgroud_102: #F26924;
--TeamNameColor_Background_103: #00548E;
--TeamNameColor_TextColor_103: #FFFFFF;
--TeamNameColor_SecondBackgroud_103: #EF3E42;
--TeamNameColor_Background_104: #CF2031;
--TeamNameColor_TextColor_104: #FFFFFF;
--TeamNameColor_SecondBackgroud_104: #000000;
--TeamNameColor_Background_105: #F58220;
--TeamNameColor_TextColor_105: #FFFFFF;
--TeamNameColor_SecondBackgroud_105: #000000;
--TeamNameColor_Background_106: #E51A38;
--TeamNameColor_TextColor_106: #FFFFFF; 
--TeamNameColor_SecondBackgroud_106: #000000;
--TeamNameColor_Background_107: #1D427C;
--TeamNameColor_TextColor_107: #FFFFFF;
--TeamNameColor_SecondBackgroud_107: #AAA9AC;
--TeamNameColor_Background_108: #A4A9AD;
--TeamNameColor_TextColor_108: #FFFFFF; 
--TeamNameColor_SecondBackgroud_108: #041E41;
--TeamNameColor_Background_109: #7E543A;
--TeamNameColor_TextColor_109: #FFFFFF;
--TeamNameColor_SecondBackgroud_109: #472A2B;
--TeamNameColor_Background_110: #005CB9;
--TeamNameColor_TextColor_110: #FFFFFF;
--TeamNameColor_SecondBackgroud_110: #FFC425;
--TeamNameColor_Background_111: #FBB337;
--TeamNameColor_TextColor_111: #FFFFFF; 
--TeamNameColor_SecondBackgroud_111: #000000;
--TeamNameColor_Background_112: #E3173E;
--TeamNameColor_TextColor_112: #FFFFFF;
--TeamNameColor_SecondBackgroud_112: #000000;
--TeamNameColor_Background_113: #001E61;
--TeamNameColor_TextColor_113: #FFFFFF;
--TeamNameColor_SecondBackgroud_113: #AF1E2D;
--TeamNameColor_Background_114: #393A87;
--TeamNameColor_TextColor_114: #FFFFFF;
--TeamNameColor_SecondBackgroud_114: #DE2944;
--TeamNameColor_Background_115: #003E7E;
--TeamNameColor_TextColor_115: #FFFFFF;
--TeamNameColor_SecondBackgroud_115: #FFC425;
--TeamNameColor_Background_117: #866C3F;
--TeamNameColor_TextColor_117: #FFFFFF;
--TeamNameColor_SecondBackgroud_117: #000000;
--TeamNameColor_Background_118: #DB1931;
--TeamNameColor_TextColor_118: #FFFFFF;
--TeamNameColor_SecondBackgroud_118: #000000;
--TeamNameColor_Background_119: #000000;
--TeamNameColor_TextColor_119: #FFFFFF;
--TeamNameColor_SecondBackgroud_119: #005695;
--TeamNameColor_Background_120: #0E2B58;
--TeamNameColor_TextColor_120: #FFFFFF;
--TeamNameColor_SecondBackgroud_120: #83C2EC;
--TeamNameColor_Background_121: #144733;
--TeamNameColor_TextColor_121: #FFFFFF;
--TeamNameColor_SecondBackgroud_121: #DFCAA3;
--TeamNameColor_Background_122: #152342;
--TeamNameColor_TextColor_122: #FFFFFF;
--TeamNameColor_SecondBackgroud_122: #DF4E10;
--TeamNameColor_Background_123: #C2273D;
--TeamNameColor_TextColor_123: #FFFFFF;
--TeamNameColor_SecondBackgroud_123: #F3BD48;
--TeamNameColor_Background_125: #FFD457;
--TeamNameColor_TextColor_125: #FFFFFF;
--TeamNameColor_SecondBackgroud_125: #000000;
--TeamNameColor_Background_126: #000000;
--TeamNameColor_TextColor_126: #FFFFFF;
--TeamNameColor_SecondBackgroud_126: #A4A9AD;
--TeamNameColor_Background_127: #8E0A26;
--TeamNameColor_TextColor_127: #FFFFFF;
--TeamNameColor_SecondBackgroud_127: #000000;
--TeamNameColor_Background_128: #A5A6A8;
--TeamNameColor_TextColor_128: black;
--TeamNameColor_SecondBackgroud_128: #1B6031;
--TeamNameColor_Background_129: #FF4C00;
--TeamNameColor_TextColor_129: #FFFFFF;
--TeamNameColor_SecondBackgroud_129: #000000;
--TeamNameColor_Background_130: #266B73;
--TeamNameColor_TextColor_130: #FFFFFF;
--TeamNameColor_SecondBackgroud_130: #000000;
--TeamNameColor_Background_131: #047835;
--TeamNameColor_TextColor_131: #FFFFFF;
--TeamNameColor_SecondBackgroud_131: #1C407B;
--TeamNameColor_Background_132: #000000;
--TeamNameColor_TextColor_132: #FFFFFF;
--TeamNameColor_SecondBackgroud_132: #939283;
--TeamNameColor_Background_133: #C8102E;
--TeamNameColor_TextColor_133: #FFFFFF;
--TeamNameColor_SecondBackgroud_133: #001425;
--TeamNameColor_Background_136: #C2C4C6;
--TeamNameColor_TextColor_136: black;
--TeamNameColor_SecondBackgroud_136: #B4975B;
--TeamNameColor_Background_242: #111111;
--TeamNameColor_TextColor_242: #FFFFFF;
--TeamNameColor_SecondBackgroud_242: #a2aaad;
--TeamNameColor_Background_243: #111111;
--TeamNameColor_TextColor_243: #FFFFFF;
--TeamNameColor_SecondBackgroud_243: #FCB514;
--TeamNameColor_Background_244: #f95602;
--TeamNameColor_TextColor_244: #FFFFFF;
--TeamNameColor_SecondBackgroud_244: #111;  

}