.tablesorter {font-family:arial;font-size: 8pt; background-color: rgb(222, 222, 222); margin:10px 0pt 15px;  width: 100%; text-align: left; border-spacing: 0px;border: #ccc 1px solid; border-width: 1px 0 0 1px;}
.tablesorter th, .tablesorter td { border: #ccc 1px solid; border-width: 0 1px 1px 0;}
.tablesorter th, .tablesorter thead td {font-size: 9pt; background-color: rgb(222, 222, 222); border-collapse: collapse; padding: 4px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);}
.tablesorter tbody td, .tablesorter tfoot th, .tablesorter tfoot td { padding: 4px; vertical-align: top;}
.tablesorter .header, .tablesorter .tablesorter-header { background-color: rgb(222, 222, 222); background-position: center right; background-repeat: no-repeat; background-image: url(data:image/gif;base64,R0lGODlhDAAMAMQAAAJEjAJCiwJBigJAiANFjgNGjgNEjQRIkQRHkANIkAVMlAVQmAZWnQZUnAdYoAhdpAhZoAlhqQlepQliqQppsApmrQxutgtutQtutAxwtwxwtg1yug1zugxtsw1yuP8A/yH5BAEAAB8ALAAAAAAMAAwAAAUx4Cd+3GiOW4ado2d9VMVm1xg9ptadTsP+QNZEcjoQTBDGCAFgLRSfQgCYMAiCn8EvBAA7); padding: 4px 20px 4px 4px; white-space: normal; cursor: pointer;}
.tablesorter .headerSortUp, .tablesorter .tablesorter-headerSortUp, .tablesorter .tablesorter-headerAsc { color: #333; background-color: #ebedee; background-position: center right; background-repeat: no-repeat; background-image: url(data:image/gif;base64,R0lGODlhDAAMANUAAAJCiwNHkANFjgNEjQRIkQNJkQRMlARKkwRKkgVPlwZSmgdaogdYnwhfpghcowlhqgliqglgqAlgpwljqwporwpmrQplrAtsswtqsgtrsgtqsQxttAtvtQtttAxyuQxwtwxxtwxvtg10uw1zuQ1xuP8A/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACUALAAAAAAMAAwAAAY6wJKwJBoahyNQ6Dj0fDoZCpPEuWgqk4jxs8FQLI+Gg8Esm5kQydFQMC7IwkOAqUiUCAIzIjA4lwBlQQA7); }
.tablesorter .headerSortDown, .tablesorter .tablesorter-headerSortDown, .tablesorter .tablesorter-headerDesc { color: #333; background-color: #ebedee; background-position: center right; background-repeat: no-repeat; background-image: url(data:image/gif;base64,R0lGODlhDAAMANUAAAE/iAJBigNFjgNEjQNFjQNDiwRHkQRHjwNHjwROlgRMlQRMlARJkgRKkgZQmAVPlgZWnQZSmgZRmAdXoAdXnwdUnAdbogdZoQhbowlhqAlepglkrAliqQtstAtqsQxyugxyuQxwuAxxuAxxtwxwtgxvtQ10vA12vA10u/8A/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACkALAAAAAAMAAwAAAY6wJQwdRoah6bP6DhEiVIdDxNEGm4yxlDpiJkwv2AmR2OhVCSJBsJ4gUQeCwOB6VAwBAXwYRAIpwBfQQA7); }
.tablesorter thead .sorter-false { background-image: none; cursor: default; padding: 4px;}
.tablesorter tfoot .tablesorter-headerSortUp, .tablesorter tfoot .tablesorter-headerSortDown, .tablesorter tfoot .tablesorter-headerAsc, .tablesorter tfoot .tablesorter-headerDesc { background-color: #ebedee;}
.tablesorter tbody > tr.hover > td, .tablesorter tbody > tr:hover > td, .tablesorter tbody > tr.even:hover > td, .tablesorter tbody > tr.odd:hover > td { background-color: rgb(235,242,250);}
.tablesorter .tablesorter-processing { background-position: center center !important; background-repeat: no-repeat !important; background-image: url('data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=') !important;}
.tablesorter tbody tr:nth-child(odd), .tablesorter tfoot tr:nth-child(odd) {background-color: rgb(255, 255, 255);}
.tablesorter tbody tr:nth-child(even), .tablesorter tfoot tr:nth-child(even) {background-color: rgb(239, 239, 239);}
.tablesorter.containsStickyHeaders thead tr:nth-child(1) th, .tablesorter.containsStickyHeaders thead tr:nth-child(1) td { border-top: #ccc 1px solid;}
caption { background-color: #fff;}
.tablesorter .tablesorter-filter-row { background-color: #eee;}
.tablesorter .tablesorter-filter-row td { background-color: #eee; line-height: normal; text-align: center; -webkit-transition: line-height 0.1s ease; -moz-transition: line-height 0.1s ease; -o-transition: line-height 0.1s ease; transition: line-height 0.1s ease;}
.tablesorter .tablesorter-filter-row .disabled { opacity: 0.5; filter: alpha(opacity=50); cursor: not-allowed;}
.tablesorter .tablesorter-filter-row.hideme td { padding: 2px; margin: 0; line-height: 0; cursor: pointer;}
.tablesorter .tablesorter-filter-row.hideme * { height: 1px; min-height: 0; border: 0; padding: 0; margin: 0; opacity: 0; filter: alpha(opacity=0);}
.tablesorter input.tablesorter-filter, .tablesorter select.tablesorter-filter { width: 98%; height: auto; margin: 0; padding: 4px; background-color: #fff; border: 1px solid #bbb; color: #333; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: height 0.1s ease; -moz-transition: height 0.1s ease; -o-transition: height 0.1s ease; transition: height 0.1s ease;}
.tablesorter .filtered { display: none;}
.tablesorter .tablesorter-errorRow td { text-align: center; cursor: pointer; background-color: #e6bf99;}
.tablesorter_ColumnSelectorWrapper {position: relative;  margin: 10px 5px 10px 10px;  display: inline-block;}
.tablesorter_ColumnSelector, .hidden {display: none;}
.tablesorter_ColumnSelectorButton {background: #99bfe6;  border: #888 1px solid;  color: #111;  border-radius: 5px;  padding: 5px;}
.tablesorter_Reset {background: #99bfe6;  border: #888 1px solid;  color: #111;  border-radius: 5px;  padding: 5px;}
#tablesorter_colSelect1:checked + label {background: #5797d7;  border-color: #555;}
#tablesorter_colSelect1:checked ~ #tablesorter_ColumnSelector {display: block;}
.tablesorter_ColumnSelector {width: 500px;  position: absolute;  top: 30px;  padding: 10px;  background: #fff;  border: #99bfe6 1px solid; border-radius: 5px;}
.tablesorter_ColumnSelector label {display: inline-block;min-width: 250px;font-size: 11pt;font-family: "trebuchet ms", verdana, arial;font-weight:bold;}
.tablesorter_ColumnSelector label:nth-child(1) {border-bottom: #99bfe6 solid 1px;  margin-bottom: 5px;min-width: 400px;}
.tablesorter_ColumnSelector input {margin-right: 5px;}
.tablesorter_ColumnSelector .disabled {color: #ddd;}
.tablesorter .filtered { display: none;}
.tablesorter tbody tr.static td {vertical-align: middle;}
table.basictablesorter { font-family:arial; background-color: rgb(222, 222, 222); margin:10px 0pt 15px; font-size: 8pt; width: 100%; text-align: left; border-spacing: 0px;border: #ccc 1px solid; border-width: 1px 0 0 1px;}
table.basictablesorter th, table.basictablesorter td { border: #ccc 1px solid; border-width: 0 1px 1px 0;}
table.basictablesorter thead tr th, table.tablesorter tfoot tr th { background-color: rgb(222, 222, 222); text-align:center; font-size: 8pt; padding: 4px 12px 4px 0px;}
table.basictablesorter thead tr td {background-color: rgb(222, 222, 222); text-align:center; font-size: 8pt;font-weight: bold; padding: 4px 12px 4px 0px;border-style:solid; border-width: 0 1px 1px 0; border-color:#a1a1a1;}
table.basictablesorter thead tr .header {background-image: url("data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw=="); background-repeat: no-repeat; background-position: center right; cursor: pointer; border-style:solid;}
table.basictablesorter thead tr .headerSortUp {background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7");}
table.basictablesorter thead tr .headerSortDown {background-image: url("data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7");}
table.basictablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp { background-color: #8dbdd8;}
table.basictablesorter tbody tr:nth-child(odd) {background-color: rgb(255, 255, 255);}
table.basictablesorter tbody tr:nth-child(even) {background-color: rgb(239, 239, 239);}
table.basictablesorter tbody > tr:hover > td {background: rgb(235,242,250);}
table.basictablesorter tbody td {padding: 4px; vertical-align: top; border-style:solid; border-width: 0 1px 1px 0; border-color:#a1a1a1; min-width:20px;}
table.basictablesorter tfoot  { border-style:solid; border-width: 0 1px 1px 0; border-color:#a1a1a1; border-top-style:double; border-top-width:4px; border-top-color:#a1a1a1;}
table.basictablesorter tfoot td {padding: 4px; background-color: #FFF; vertical-align: top; border-style:solid; border-width: 0 1px 1px 0; border-color:#a1a1a1; min-width:20px;}
.tabsmenu{width:100%;display:inline;}
.tabmenu-links {padding-left:1px;}
.tabmenu-links:after{display:block;clear:both;content:'';}
.tabmenu-links li{margin:0px 5px;float:left;list-style:none;}
.tabmenu-links a{padding:3px 10px;display:inline-block;border-radius:3px 3px 0px 0px;font-size:16px;font-weight:600;color:#4c4c4c;transition:all linear 0.15s;}
.tabmenu-links a:hover{text-decoration:none;color:#000000;}
.MenuSTHS {border-spacing: 0px;}
table.MenuSTHS a{padding:3px 10px;display:inline-block;border-radius:3px 3px 0px 0px;font-size:16px;font-weight:600;color:#4c4c4c;transition:all linear 0.15s;}
table.MenuSTHS a:hover{text-decoration:none;color:#000000;}
.MenuSTHSSpan{padding:3px 0px 3px 15px;display:inline-block;border-radius:3px 3px 0px 0px;font-size:16px;font-weight:600;color:#4c4c4c;transition:all linear 0.15s;}
.tabmenu-content{padding:1px;border-radius:1px;box-shadow:-1px 1px 1px rgba(0,0,0,0.15);background:#fff;}
.tabmenu{display:none;}
.tabmenu.active{display:block;}
.tabsmain{width:100%;display:inline-block;}
.tabmain-links {padding-left:1px;}
.tabmain-links:after{display:block;clear:both;content:'';}
.tabmain-links li{margin:0px 5px;float:left;list-style:none;}
.tabmain-links a{padding:0px 25px;display:inline-block;border-radius:3px 3px 0px 0px;color:#dedede;font-size:16px;font-weight:600;color:#4c4c4c;transition:all linear 0.15s;}
.tabmain-links a:hover{text-decoration:none;color:#000000;}
li.activemain a,li.activemain a:hover{text-decoration:none}
.tabmain-content{border-radius:1px;box-shadow:-1px 1px 1px rgba(0,0,0,0.15);}
.tabmain{display:none;}
.tabmain.active{display:block;}
.scrollup{ width:40px; height:40px; opacity:0.3; position:fixed; bottom:50px; right:25px; display:none; text-indent:-9999px; background: url('images/icon_top.png') no-repeat;}
@media screen and (max-width: 1160px) {
.tabmenu-links a{padding:2px 5px;font-size:15px;}
table.MenuSTHS a{padding:2px 5px;font-size:15px;}
.STHSTopLink{font-size:12px;}
.STHSTeamLink{font-size:12px;}
}
@media screen and (max-width: 920px) {
.tabmenu-links a{padding:1px 2px;font-size:14px;}
table.MenuSTHS a{padding:1px 4px;font-size:14px;}
.STHSTopLink{font-size:10px;}
.STHSTeamLink{font-size:10px;}
}
@media screen and (max-width: 820px) {
.tabmenu-links a{padding:0px 1px;font-size:12px;}
table.MenuSTHS a{padding:0px 3px;font-size:12px;}
.MenuSTHSSpan {font-size:12px;}
.STHSTopLink{font-size:8px;}
.STHSTopLink{font-size:8px;}
.FooterW3C {display:none;}}
@media screen and (max-width: 720px) {#STHSMenu-Record {display:none;}}
@media screen and (max-width: 660px) {#STHSMenu-DirectLink{display:none;}}
.STHSWarning{display:none;color:#FF0000; font-weight: bold;padding:1px 1px 1px 5px;text-align:center;}
.FilterTipMain{display: inline;}
.FilterTip{ display: none; width: 640px; position: absolute;}
.FilterTipMain:hover .FilterTip{display : block;}
.FilterTip{width: 640px; background-color: #fff; margin: 10px 0 15px; text-align: left; border-spacing: 0px;border: #ccc 1px solid; border-width: 1px 1px 1px 1px;}
.FilterTip tbody td{border-spacing: 1px; border-color: #cdcdcd; border-style: solid; border-width: 1px;}
.FilterTip th, .FilterTip thead td {background-color: rgb(222, 222, 222); border-collapse: collapse; padding: 4px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);}
.FilterTip th, .FilterTip  td { border: #ccc 1px solid; border-width: 0 1px 1px 0;}
